/* font */
@font-face {
  font-family:'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
  src: url(../font/NanumGothicBold.eot);
  src: url(../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothicBold.woff) format('woff'),
       url(../font/NanumGothicBold.ttf) format('truetype');
}
@font-face {
  font-family:'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(../font/NanumGothic.eot);
  src: url(../font/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic.woff) format('woff'),
       url(../font/NanumGothic.ttf) format('truetype');
}
@font-face {
  font-family:'Nanum Gothic Bold';
  font-style: normal;
  font-weight: normal;
  src: url(../font/NanumGothicBold.eot);
  src: url(../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothicBold.woff) format('woff'),
       url(../font/NanumGothicBold.ttf) format('truetype');
}

/* basis Selector */

* {font-family:'nanum Gothic','나눔 고딕' !importnat;}
html, body {font-family:'nanum Gothic','나눔 고딕' !importnat;}
html {}
body {background:#9da4b2;}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0; font-weight:normal;font-family:'nanum Gothic','나눔 고딕' !importnat;}
body, input, select, div, textarea, table, button {font-size:14px;line-height:22px; font-family:'nanum Gothic', dotum, Tahoma,arial; color:#888888;}/*나중에 나눔고딕 서버에서 연결하고 여기서 '' 지우기*/
table {width:100%; border:0; border-spacing:0px; border-collapse:collapse;}
html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */
option {vertical-align:middle;  padding:3px 0;} /* Firefox Fix */
legend {display:none; visibility:hidden;}
img, fieldset, button {vertical-align:middle; border:0;}
ul, ol {list-style:none;}
em, address {font-style:normal;}
hr {display:none; visibility:hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block; margin: 0; padding: 0; }
/* 사파리 col width 에러문제로 display 삭제처리함
caption  {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}*/
caption  {height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}
input, textarea, button {line-height: 1.2; /* 입력폼에서 춤추지 않는 최소 줄간 1.2 */ vertical-align: middle;}
/*input*/
input[type=text], input[type=password] {background:#ffffff; width:126px; height:17px; padding:4px 0 1px 0; color:#454545; text-indent:7px; vertical-align:middle; border:1px solid #e0e0e0;}
input[type=text], input[type=password] {/* *width:119px; *text-indent:0; *padding-left:6px; */}
textarea {background:#ffffff; width:100%; height:100px; padding:4px 0 1px 0; color:#454545; /* text-indent:7px; *text-indent:0; */ vertical-align:middle; border:1px solid #e0e0e0;}
input[type=text]:hover, input[type=password]:hover, textarea:hover {border:1px solid #89b4d3;}
select {border:1px solid #e0e0e0; height:24px; padding:0; vertical-align: middle; line-height:24px;}
input[type="file"] {vertical-align:middle; height:22px; width:80%; margin-right:6px;}
/*input[type=text], input[type=password], textarea {background:#f8f8f8; *margin:-1px 0 -1px -0.3em; width:180px; height:20px; line-height:20px; color:#666; text-indent:0.3em; vertical-align:middle; border:1px solid #cacaca;}
input[type=text]:hover, input[type=password]:hover, textarea:hover,
input[type=text].focus, input[type=password].focus, textarea.focus {background:#fff !important; color:#4f9311; border:1px solid #4f9311 !important;} */
input[type="checkbox"],input[type="radio"] { margin:0; padding:0; vertical-align:middle; width:13px; height:13px; line-height:13px;}
a {text-decoration:none;color:#454545;}
a:hover, a:active, a:focus{text-decoration:none;}
/* Skip_Navigation */
#skipnavi {position:absolute;left:0;top:0;z-index:1000;}
#skip_navi {position:relative;left:0;height:40px;}
#skip_navi li{float:left;}
#skip_navi a {width:150px;position:absolute;top:-50px;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;text-align:center;font-size:13px;}
#skip_navi a:focus,
#skip_navi a:active {position:absolute;top:0;height:auto;width:130px;padding:5px;font-weight:bold;border:solid 1px #01614c;color:#01614c;z-index:1001;} 
/* Common Style */
.hands {cursor:pointer !important;}
.hide {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
.fixed {table-layout:fixed;} /* table사이즈를 고정 */
.txt_break {
	/* word-break:break-all !important;word-wrap:break-word !important; */
	word-wrap: break-word !important; /* Internet Explorer 5.5+ */
	white-space: pre-wrap !important; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap !important; /* Opera 4-6 */
	white-space: -o-pre-wrap !important; /* Opera 7 */
	} /* td 안에 텍스트 줄바꿈을 시켜줍니다 */

.txt_nowrap {white-space:nowrap;} /* 줄바꿈 없음 */
.ls_m01 {letter-spacing:-1px;} /* Letter spacing */
.ls_nm {letter-spacing:normal !important;}
	
/* clear class */
.clfix:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden;}
.clfix {display:inline-block;}
.clfix {display:block;}
* html .clfix {height:1%;} /* hides from ie-mac */
.clfix {zoom:1;} /*for ie 5.5-7*/

/* --Clearfix */
.cf:before,
.cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}

.clearfix{*zoom:1}
.clearfix:before,
.clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}

/* - blind */
.blind{position:absolute;left:-3721em}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.mr13{margin-right:13px}
.mt-20{margin-top:-20px}
.mt-30{margin-top:-30px;float:right;}




/* main*/
#wrap {width:100%;height:100%;}
#contents{position:relative;width:100%;margin:0 auto;background:#9da4b2;}
#header {width:1200px;margin:0 auto;}
#header .headerTop{width:100%;background:#3d3d3d;height:70px;position:relative;}
#header .logo{width:170px;padding-left:65px;padding-top:23px}
#header .desc {position:absolute;top:28px;right:25px;color:#a1afb2;font-size:12px;font-family:Dotum;background:url(../images/main/ico_alim.png) no-repeat left center;padding-left:24px;}
#header .InfoArea {width:100%;height:144px;overflow:hidden;background:#fff;}
#header .left_Info {width:200px;background:#2e82b3;float:left;padding:15px 18px 0 18px;position:relative;}
*:first-child+html .left_Info .name {margin:34px 0 0 0;background:#07846e;background:url(../images/main/bg_name_blue.png) no-repeat;padding:16px 0 15px 50px;color:#b7f5e8;font-size:9px;}
.left_Info .admin {position:absolute;top:15px;right:20px;padding-left:20px;background:url(../images/main/ico_admin.png) no-repeat left center;}
.left_Info .admin a {color:#fff;display:block;border-bottom:1px solid #fff;font-size:13px;line-height:15px;}
.left_Info .name {margin:24px 0 0 0;background:#07846e;background:url(../images/main/bg_name_blue.png) no-repeat;padding:16px 0 15px 50px;color:#b7f5e8;font-size:9px;}
.left_Info .name strong {font-size:14.9px;line-height:100%;display:inline-block;background:url(../images/main/ico_admin02.png) no-repeat left center;padding:3px 0 3px 35px;}
.left_Info .myInfo {padding:18px 0 18px;text-align:center;}
.left_Info .myInfo span {display:inline-block;vertical-align:middle;}
.left_Info .myInfo span.line {background: url(../images/main/tline01.gif) no-repeat 0 center;padding-left:12px;margin-left:6px;}
.left_Info .myInfo span a {color:#fff;font-size:12px;}
.top_menu {float:left;width:963px;}
.top_menu01{margin:0 auto;position:relative;display:table;}
.top_menu01 ul {}
.top_menu01 ul li {float:left;letter-spacing:-0.1em;}
.top_menu01 ul li a{display:block;float:left;color:#aeb6bb;font-weight:bold;margin:17px 25px 0 25px;padding-top:83px;}
.top_menu01 ul li.on a {color:#505456;}
.top_menu01 ul li.m01 a{background:url(../images/main/gnb01.png) no-repeat;width:84px;height:83px;}
.top_menu01 ul li.m02 a{background:url(../images/main/gnb02.png) no-repeat;width:84px;height:83px;}
.top_menu01 ul li.m03 a{background:url(../images/main/gnb03.png) no-repeat;width:84px;height:83px;}
.top_menu01 ul li.m04 a{background:url(../images/main/gnb04.png) no-repeat;width:84px;height:83px;}
.top_menu01 ul li.m05 a{background:url(../images/main/gnb05.png) no-repeat;width:84px;height:83px;}
.top_menu01 ul li.m06 a{background:url(../images/main/gnb06.png) no-repeat;width:84px;height:83px;}
.top_menu01 ul li.m07 a{background:url(../images/main/gnb07.png) no-repeat;width:84px;height:83px;}
/*  on 했을때의 경우(on 클래스를 추가하면 됨)
.top_menu ul li.m01.on a {background:url(../images/main/gnb04_on.png) no-repeat;width:84px;height:83px;}
.top_menu ul li.m02.on a {background:url(../images/main/gnb04_on.png) no-repeat;width:84px;height:83px;}
.top_menu ul li.m03.on a {background:url(../images/main/gnb04_on.png) no-repeat;width:84px;height:83px;}
.top_menu ul li.m04.on a {background:url(../images/main/gnb04_on.png) no-repeat;width:84px;height:83px;}
.top_menu ul li.m05.on a {background:url(../images/main/gnb04_on.png) no-repeat;width:84px;height:83px;}
*/
.top_menu01 ul li.m01 a:hover {background:url(../images/main/gnb01_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li.m02 a:hover {background:url(../images/main/gnb02_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li.m03 a:hover {background:url(../images/main/gnb03_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li.m04 a:hover {background:url(../images/main/gnb04_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li.m05 a:hover {background:url(../images/main/gnb05_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li.m06 a:hover {background:url(../images/main/gnb06_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li.m07 a:hover {background:url(../images/main/gnb07_on.png) no-repeat;width:84px;height:83px;color:#505456;}
.top_menu01 ul li a span {display:block;padding-top:10px;text-align:center;}

#content {width:1168px;margin:0 auto;background:#dae8ea;padding:16px 16px 0 17px;}
.cont_top {overflow:hidden;}
.cont_top .graphArea {width:775px;height:360px;float:left;background:url(../images/main/bg_cont02.gif) no-repeat;position:relative;}
.cont_top .graphArea h3 {padding:15px 0 15px 30px;font-size:17px;line-height:17px;font-weight:bold;letter-spacing:-0.1em;}
.cont_top .graphArea .btn_more {position:absolute;top:0;right:0;}
.cont_top .graph {width:730px;height:295px;background:#dedede;margin-left:20px;}
.cont_top .InfoWrap {width:382px;float:left;margin-left:9px;}
.notice {width:382px;height:175px;float:left;background:url(../images/main/bg_cont01.gif) no-repeat;position:relative;}
.notice h3 {padding:15px 0 15px 30px;font-size:17px;line-height:17px;font-weight:bold;letter-spacing:-0.1em;}
.notice .btn_more {position:absolute;top:0;right:0;}
.cscenter{width:382px;height:175px;float:left;background:url(../images/main/bg_cont01.gif) no-repeat;margin-top:10px;}
.cscenter h3 {padding:15px 0 20px 30px;font-size:17px;line-height:17px;font-weight:bold;letter-spacing:-0.1em;}
.cscenter .tit {text-align:center;padding-bottom:18px;}
.cscenter ul {overflow:hidden;background:url(../images/main/bg_contact.png) no-repeat;padding-bottom:5px;}
.cscenter ul li {display:inline;;line-height:100%;height:24px;}
.cscenter ul li a {display:block;float:left;text-align:center;padding-top:61px;color:#fff;font-weight:bold;}
.cscenter ul li.num {display:block;float:left;text-align:center;padding-top:61px;color:#fff;font-weight:bold;width:125px;font-size:14px;padding-bottom:25px;}
.cscenter ul li.email{display:block;float:left;text-align:center;padding-top:61px;color:#fff;font-weight:bold;width:134px;font-size:13px;}
.cscenter ul li.time{display:block;float:left;text-align:center;padding-top:61px;color:#fff;font-weight:bold;width:74px;font-size:11px;padding:61px 22px 0 22px;line-height:14px;}

.cont_cen {margin-top:10px;overflow:hidden;}
.cont_cen h3 {padding:11px 0 15px 0px;font-size:17px;line-height:17px;font-weight:bold;letter-spacing:-0.1em;}
.total_state {width:382px;float:left;margin-right:10px;}
.total {font-size:12px;color:#999;background:#f7f7f7;border:1px solid #ececec;padding:12px 0;text-align:center;margin:25px 0 0px 0;overflow-y:auto;}
.total_state .total {letter-spacing:-0.1em;}
.enter_state {width:382px;float:left;margin-right:10px;}
.enter_state .total {font-size:12px;text-align:left;height:67px;padding:12px 20px;margin-top:10px;overflow-y:auto;}
.enter_state .btnArea {margin-top:21px;}
.result_state {width:382px;float:left;}
.result_state .total {font-size:40px;padding:25px 0px;margin-top:10px;line-height:40px;}
.result_state .btnArea {margin-top:21px;}

.cont_btm {margin-top:10px;overflow:hidden;}
.cont_btm h3 {padding:11px 0 15px 0px;font-size:17px;line-height:17px;font-weight:bold;letter-spacing:-0.1em;}
.my_question {width:382px;float:left;margin-right:10px;margin-bottom:10px;}
.my_question .bg_cen {background:#fff url(../images/main/bg_ico01.png) no-repeat 50% 12px;}
.my_question .bg_cen .list02 {margin-top:93px;}
.my_question .total {margin-top:10px;letter-spacing:-0.1em;text-align:left;padding:12px 20px;overflow-y:auto;height:20px;}
.my_revise {width:382px;float:left;margin-right:10px;}
.my_revise .bg_cen {background:#fff url(../images/main/bg_ico02.png) no-repeat 50% 12px;}
.my_revise .bg_cen .list02 {margin-top:100px;}
.my_revise .btnArea02 {margin-top:50px;}

.my_input {width:382px;float:left;}
.my_input .bg_cen {background:#fff url(../images/main/bg_ico03.png) no-repeat 50% 12px;}
.my_input .desc02 {margin-top:93px;}
.my_input .total {margin-top:10px;font-size:12px;text-align:left;padding:12px 20px;height:60px;overflow-y:auto;}


/*common*/
.bg_cen {width:322px;background:#fff;padding:0 30px 16px 30px;}
.bg_top {width:382px;height:4px;background:url(../images/main/bg_cont_top.png) no-repeat;}
.bg_btm {width:382px;height:4px;background:url(../images/main/bg_cont_btm.png) no-repeat;}
.desc02 {background: url(../images/main/bul02.gif) no-repeat 0 8px; padding-left:10px; font-size:12px;line-height:20px;color:#888;}
.list01 {padding-left:30px;}
.list01 li {font-size:12px;margin-bottom:1px;line-height:22px;position:relative;}
.list01 li a {color:#666;background: url(../images/main/bul01.gif) no-repeat 0 8px;}
.list01 li a span.line {float:right;padding-right:25px;}
.list01 li a span.line1 {float:left;width:260px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;background: url(../images/main/bul01.gif) no-repeat 0 9px; padding-left:10px;}
.list02 {padding-left:30px;}
.list02 li {background: url(../images/main/bul02.gif) no-repeat 0 8px; padding-left:10px; font-size:12px;line-height:20px;color:#888;}
.btnArea {text-align:center;margin-top:30px;}
.btnArea02 {text-align:center;margin-top:21px;}

#footer{width:1200px;margin:0 auto;background:#515765;text-align:center;font-size:11px;color:#ffffff;padding-top:20px;padding-bottom:20px;}


/*login*/
#content2 {width:1200px;margin:0 auto;padding-top:204px;}
.login {width:500px;margin:0 auto;}
.login h1 {margin-bottom:10px;margin-left:10px;}
.loginArea .bg_cen {width:414px;background:#fff;padding:57px 43px 60px 43px;position:relative;}
.loginArea .bg_top {width:500px;height:4px;background:url(../images/login/bg_top.gif) no-repeat;}
.loginArea .bg_btm {width:500px;height:6px;background:url(../images/login/bg_btm.gif) no-repeat;}
.loginArea .bg_cen p span{}
.loginArea .bg_cen p.inp01 {width:290px;height:35px;background:url(../images/login/bg_input.gif) no-repeat;}
.loginArea .bg_cen p.inp01 span {display:inline-block;vertical-align:middle;}
.loginArea .bg_cen p.inp01 span.tit {padding:8px 13px 8px 11px;}
.loginArea .bg_cen p.inp01 span.txt {}
.loginArea .bg_cen p.inp01 span.txt input {width:170px;border:0;}
.loginArea .bg_cen .btn_login {position:absolute;right:43px;top:57px;}
.loginInfo {margin-top:15px;font-size:12px;color:#777;position:relative;}
.loginInfo p {line-height:18px;}
.loginInfo p.info {}
.loginInfo p.email {padding-left:50px;}
.loginInfo p.email a {color:#f3616a;border-bottom:1px solid #f3616a;}
.loginInfo .pw_search {position:absolute;top:0;right:19px;}
.loginInfo .pw_search a {font-size:12px;color:#777;display:block;background:url(../images/login/ico_plus01.gif) no-repeat left center;padding-left:11px;}

/*비밀번호찾기*/
.pwArea .bg_cen {width:414px;background:#fff;padding:30px 43px 22px 43px;position:relative;}
.pwArea .bg_top {width:500px;height:4px;background:url(../images/login/bg_top.gif) no-repeat;}
.pwArea .bg_btm {width:500px;height:6px;background:url(../images/login/bg_btm.gif) no-repeat;}
.pwArea .bg_cen p.inp01 {width:290px;height:35px;background:url(../images/login/bg_input.gif) no-repeat;}
.pwArea .bg_cen p.inp01 span {display:inline-block;vertical-align:middle;}
.pwArea .bg_cen p.inp01 span.tit {padding:8px 13px 8px 11px;}
.pwArea .bg_cen p.inp01 span.txt {}
.pwArea .bg_cen p.inp01 span.txt input {width:170px;border:0;}
.pw_wrap {width:290px;margin:0 auto;}
.pwArea h2 {margin-bottom:5px;;font-size:15px;line-height:20px;color:#f58220;font-weight:bold;}
.pwArea ul {margin-bottom:30px;}
.pwArea ul li {background: url(../images/login/ico_cir01.gif) no-repeat 0 center;padding-left:18px;font-size:12px;line-height:20px;color:#757575;}
.btn_search {text-align:center;margin-top:17px;}

.mb15 {margin-bottom:15px !important;}